.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__container {
    width: 96px;
    height: 96px;
    background-color: #1b365d;
    border-radius: 8px;
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    margin-top: 8px;
    font-weight: 700;
    color: #1b365d;
  }
}
