.card-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 24px;
  }
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 0 28px;
  align-items: center;
  margin-top: 30px;
  .avatar {
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #1b365d;
    &-img {
      width: 50px;
    }
    &-name {
      margin-left: 18px;
    }
  }
}

.section-footer {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 0.7em;
  margin-top: 4rem;
  width: 100%;
  color: #1b365d;
}

.icon {
  color: #1b365d;
}
