<div class="section-title">
  <mat-icon class="icon">arrow_back</mat-icon>

  <div class="avatar">
    <div class="avatar-img" routerLink="/capture-id">
      <img src="assets/img/avatar.png" alt="">
    </div>
    <div class="avatar-name">Susana Arévalo</div>
  </div>
</div>

<div class="card-grid">
  <div class="card-grid__container">
    <app-card-grid title="INE"></app-card-grid>
    <app-card-grid title="Documento 2"></app-card-grid>
    <app-card-grid title="Documento 3"></app-card-grid>
    <app-card-grid title="Documento 4"></app-card-grid>
  </div>
</div>

<div class="section-footer">
  Revisa que los documentos sean claros y legibles
</div>
