<div class="banner-top">
  00:00:00 <span class="circle"></span>
</div>

<div class="capture-name">
  Rodolfo está firmando
</div>

<div class="capture-container">
  <div class="capture-frame">
    <img class="img-show" [src]="foto"/>
  </div>

  <div class="capture-ok">
    <mat-icon class="icon-ok">check_circle_outline</mat-icon>
    <div class="capture-oktext">Bien</div>
    <div class="capture-okdesc">¡Haz tomado exitosamentetu foto!</div>
  </div>
</div>

<div class="capture-buttons">
  <button class="btn-continuar">CONTINUAR</button>
  <!-- <mat-icon class="icon">cameraswitch</mat-icon> -->
  <!-- <div *ngIf="loading" class="icon" [class.spinner]="loading"></div>
  <mat-icon *ngIf="!loading" class="icon"   (click)="triggerSnapshot()">photo_camera</mat-icon> -->
</div>

