<div class="banner-top">
  00:00:00 <span class="circle"></span>
</div>

<div class="capture-name">
  Rodolfo está firmando
</div>

<div class="capture-container">
  <!-- <div class="capture-frame" style="transform: rotate(90deg);">
    <img class="img-show"  [src]="foto"/>
  </div> -->

  <div class="capture-ok">
    <mat-icon class="icon-ok">webhook</mat-icon>
    <div class="capture-oktext">Reconocimiento facial<br />biometrico en proceso</div>
    <div class="capture-okdesc" style="margin-top: 2rem;">Estamos realizando la validación de la fotografía de tu documento contra la foto de tu rostro para verificar tu identidad.</div>
    <div class="capture-oktext"style="margin-top: 1rem;font-size: 1.5em">PROCESANDO</div>
    <div class=" spinner" ></div>
    <div class="capture-buttons">
      <!-- <button class="btn-continuar" routerLink="/capture-doc">CONTINUAR</button> -->
      <!-- <div class="capture-okdesc" style="margin-top: 16px; margin-bottom: 32px;" routerLink="/capture-doc">Volver a tomar</div> -->
      <!-- <mat-icon class="icon">cameraswitch</mat-icon> -->
      <!-- <div *ngIf="loading" class="icon" [class.spinner]="loading"></div>
      <mat-icon *ngIf="!loading" class="icon"   (click)="triggerSnapshot()">photo_camera</mat-icon> -->
    </div>
  </div>
</div>
